.main {
    display: flex;
    justify-content: center;
    padding-top: 88px;
    min-height: 100vh;
}

@media (min-width: 1025px) {
    .menu-horiz {
        display: none;
    }
}

@media (max-width: 1024px) {
    .ant-layout-sider {
        display: none;
    }

    .content-layout {
        margin: 0;
        padding-left: 0;
    }

    .header {
        .header-content {
            .logo {
                display: none;
            }

            .ant-breadcrumb {
                display: none;
            }
        }
    }

    .main {
        .page-footer .connect .othersites {
            display: flex;
        }

        .footer .othersites {
            display: flex;
        }
    }
}

@media (max-width: 576px) {
    .header .header-content .othersites {
        display: none;
    }

    .main .page-content {
        .article {
            width: 100%;
        }

        .directory {
            display: none;
        }
    }
}

@media (max-width: 401px) {
    .article-content .ant-list .ant-col {
        flex: 0 0 100%;
        max-width: 100%;
    }
}