.webide-container {
    height: 100vh;

    .target-panel {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;

        .target-box {
            width: 100%;
            height: 100%;
        }
    }
}